body{
  background-color:#f7f7f7;
}
h4{
  color:black;
  font-family:'Helvetica', sans-serif;
}

a{
    color:black;
  font-family:'Helvetica', sans-serif;
  text-decoration:underline;
  width:30%;
height: 50%; 
 margin:2%;
 padding-left:10%;
 padding-right:5%;
 text-align:right;
 font-size:medium;
}
a:hover{
  color:pink;
}
.title{
  padding-left: 2%;
  margin: 0;
  padding-top:2%;
text-shadow:2px 2px 1px pink;
font-family: 'Kunstler', 'Helvetica', sans-serif;
font-size: 60px;
color:rgb(146, 8, 70);
}
 
.instructions{
font-weight:500;
padding-left:2%;
}
/* list of notes to choose from  */
.gallery {
  display: flex;
flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  margin-left:20px;
  height:70vh;
  width:50vw;
  overflow-y:auto;
  background-color:#fdfdfd;
}
/* each note square in the list of notes to choose from  */
.image-wrapper {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  cursor: pointer;
  border: 4px solid transparent; 
  background-color:white;
}
/* scent name seen under image */
span{
  color:black;
  font-size:11px;
  font-family:'Helvetica', sans-serif;
}
.image-wrapper.dragged {
  opacity: 0.6;
  transform: scale(1.05);
}


.image-wrapper img {
  width: 80%;
  height: 80%;
  object-fit: contain;
  align:top;
  display: block;
}

/* parent for right and left sides of content */
.container{
  background-color:#f7f7f7;
display: grid;
grid-template-columns: 1fr 1fr;
gap:10px;
}
/* grid container for left side content */
.leftside{
display:grid;
grid-column:1;
grid-template-rows:3;
gap:0px;
}
/*grid container for right side content*/
.rightside{
display:grid;
grid-column:2;
}
/* title of scent */
.scentname{
margin:0;
font-family:'Helvetica', sans-serif;
font-weight:400;
color:black;
}
/* the titles for each note row */
.header{
  display:grid;
  width:100%;
  justify-content: center;
}
/* parent for title and instructions */
.toptitle{
      background-color:#fdfdfd;
    border: 1px solid lightgrey;
  border-radius:8px;
  box-shadow: 0.5px 0.5px 6px rgba(0,0,0,0.3);
      margin-left:1%;
}
/* note chart parent */
.noteChart {
  display:grid;
  grid-template-rows: 6; 
  background-color:#fdfdfd;
  border: 1px solid lightgrey;
  border-radius:8px;
  box-shadow: 0.5px 0.5px 6px rgba(0,0,0,0.3);
    margin-right:1%;
  padding-top:10px;
    padding-bottom:10px;
}
/* top note row */
.top-notes {
  display: grid;
  grid-row:2;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: 1;
 width: 70%;
  justify-items: center;
   justify-content: center;
    margin-bottom:8px;
}
/* middle note row */
.middle-notes {
  display: grid;
  grid-row:4;
  grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1;
    width: 100%;
  justify-items: center;
   justify-content: center;
      margin-bottom:8px;
}
/* bottom note row */
.bottom-notes {
  display: grid;
  grid-row:6;
  grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1;
width: 100%;
  justify-items: center;
   justify-content: center;
   margin-bottom:4px;
}
/* each square in the notes row */
.noteslot{
  width: 110px;
  height: 110px;
  border: 2px solid lightgrey;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: top;
  cursor: grab;
  background: white;
  object-fit: contain;
  box-sizing: border-box; 

}

.noteslot.dragged {
border: 2px solid pink;
}

.noteslot img {
    max-height: 70%;
    width: 70%;
  object-fit: contain;
    margin: auto;
  display:block;
}


.button{
justify-content:center;
  width:100%;
  height: 50%;
  background-color:rgb(255, 227, 231);
  color:white;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.3);
  margin:2%;
}
/* parent for input field button and homepage link */
.menu{
  display:flex;
column-gap:10px;
    background-color:#fdfdfd;
  border: 1px solid lightgrey;
  border-radius:8px;
  box-shadow: 0.5px 0.5px 6px rgba(0,0,0,0.3);
  margin-top:1%;
  margin-right:1%;
}
/* input field */
.scentnamer{
height: 50%; 
 margin:2%;
 background-color:white;
 color:black;
}